<beans>
    <bean id="helloBean" class="tinyspring.framework.beans.HelloBean">
        <property name="stringbean" value="xmlstringbean">
        </property>
        <property name="hello" ref="hello">
        </property>
    </bean>
    <bean id="hello" class="tinyspring.framework.beans.Hello"></bean>
    <bean id="aware" class="tinyspring.framework.beans.BeanAware"></bean>
    <bean id="init" class="tinyspring.framework.beans.InitMethod"></bean>
</beans>